
body, html {
  margin: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  position: fixed;
  touch-action: none;
  background-color: black;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  flex: 1;
  left: 0%;
  touch-action: none;
  overflow: hidden;
}
html {
  touch-action: none;
}
