  .instructions {
    margin: 0 auto;
    font-family: 'Inconsolata';
    font-size: 24px;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    user-select: none;
  }

  .flashing {
    animation: blinker 1.5s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .pause-button {
    position: absolute;
    left: 0%;
    top: 11%;
    margin: 2px 2px!important;
    min-width: 3%;
    max-width: 4%;
    z-index: 21;
    /* opacity: 0.5; */
    border: 2px solid #ABE2FB!important;
    border-radius: 3rem!important;
  }

  .headphone-mode-button {
    position: absolute;
    left: 4%;
    top: 11%;
    margin: 2px 2px!important;
    min-width: 3%;
    z-index: 21;
    /* opacity: 0.5; */
    border: 2px solid #ABE2FB!important;
    border-radius: 3rem!important;
  }
  .headphone-slash-icon {
    height: .85714286em;
    width: 1.18em;
  }

  .microphone-mode-button {
    position: absolute;
    left: 8%;
    top: 11%;
    margin: 2px 2px!important;
    min-width: 3%;
    z-index: 21;
    /* opacity: 0.5; */
    border: 2px solid #ABE2FB!important;
    border-radius: 3rem!important;
  }

  .color-map-container {
    width: 20%;
    position: absolute;
    left: 12%;
    top: 10%;
    padding: 2px;
    z-index: 21;
    user-select: none;
    font-family: 'Lato';
    /* font-size: 16px; */
    /* font-family: "Lato,'Helvetica Neue',Arial,Helvetica,sans-serif"; */
  }

  .color-map {
    border: 2px solid gold;
    background: linear-gradient(to right, black 15%, blue 30%, green, red);
    width: 100%;
    height: 20px;
  }

  .color-map-text {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    /* background-color: black; */
  }

  .color-map-labels {
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato';
    /* background-color: black; */
  }

  .scales-snackbar {
    z-index: 60;
    position: fixed!important;
    bottom: 0;
    left: 50%;
    margin: 0!important;
    padding: 2vh!important;
    display: flex;
    align-items: center;
    user-select: none;
    opacity: 0;
    transform: translateX(-50%);
    animation: fades 1s ease-in-out 0.2s alternate;
    animation-duration: 2s;
  }

  @keyframes fades {
    50% {
      opacity: 1;
    }
  }
